### Python lesson - 05.11
> **Topics**:
    > 1. More operation with number(%, /, //)
    > 2. Bool and operation with boll
    > 3. Strings
    > 4.Format string(f-string, format, old style format string)

>    **Bool**:
    >    1. https://realpython.com/python-operators-expressions/#logical-operators
    >    2. https://www.w3schools.com/python/python_booleans.asp 
    
> **String** materials:
    >    1. https://realpython.com/python-strings/
    >    2. https://realpython.com/python-string-formatting/
    >    3. https://realpython.com/python-string-split-concatenate-join/
    >    4. https://realpython.com/python-f-strings/
    >    5. https://www.w3schools.com/python/python_strings.asp
    >    6. https://www.learnpython.org/en/String_Formatting
    >    7. https://www.w3schools.com/python/python_ref_string.asp - methods string

### Arithmetic operators
1. -/+ 
2. / 
3. //
4. % - залишок від цілого ділення
5. *\ - помножити 
6. ** - pow або возвезти в ступінь

In [251]:
print(round(10 / 3, 2),  # Не ціле ділення + округлення результата
      10 // 3,
     10 % 3) # Ціло ділення, відкидуємо математично дробну частину

3.33 3 1

Explain **%**:
    10 / 3 = 3
    3 * 3 = 9
    10 - 9 = 1
    
##### Task 1. Прийняти від користувача(вас) два числа, і реалізувати операцію %, за допомогою інших функцій
##### Task 2. Порахувати скільки секунд в одному дні. 2.* Секунд в роках

In [254]:
print(10 % 2, 10 % 3 )

0 1

In [261]:
# Task 1.
a, b = 10 , 3
step_1 = a // b
print(step_1)
step_2 = b * step_1
print(step_2)
step_3 = a - step_2
print(step_3)
print(step_3, a % b)

3
9
1
1 1

In [266]:
# Bool type
a, b = True, False # Or equal 1, 0 
print(a, b, int(a), bool(int(b) - 10),type(a + 1.1))

True False 1 True <class 'float'>

In [264]:
print(bool(1 - 1), bool(1 - 2), bool(1 + 10), sep = '\n')

False
True
True

In [60]:
bool('')

False

### Comparison operators
1. == - операція еквівалентності 
2. !=  - не дорівнює 
3. \>, >= - більше/більше дорівнює 
4. <, <= - менше/менше дорівнює

In [267]:
print(7 == 7) # Не плутати з операцією (=), == - це оператор порівняння

True

In [268]:
print( 7 != 0, 7 != 7)

True False

In [276]:
print(7 >= 8)

False

In [274]:
print(7 <= 2)

False

In [280]:
print(3 < 5 < 7)

True

## Practice chapter 1:
1. Guess result of expression without executing it:

    a) 1 <= 1
    
    b) 1 != 1

    c) 1 != 2

2. Make all of them true.
    
    a) 3 __ 4

    b) 10 __ 5
    
    c) 42 __ "42"

### String - список символів
Для створення строки - вказуємо імя = одинарні або подвійні лапки
a = 'some text'

In [291]:
print('A: ', 3 != 4, 3 < 4)

A:  True True

In [292]:
print('B: ', 10 != 5, 10 > 5, 10 >= 5)

B:  True True True

In [295]:
print('C: ', 42 != '42', 42 == int('42'))

C:  True True

In [296]:
string = 'Hello World!'
print(string, type(string))

Hello World! <class 'str'>

In [299]:
# Оператор екранування(\) - вказуємо що це та сама строка 
print("Один великий рядок \
який може розтягнутись на декілька екранів\
")

Один великий рядок який може розтягнутись на декілька екранів

In [301]:
print("""
Один великий рядок
який може розтягнутись на декілька екранів
""")

Один великий рядок
який може розтягнутись на декілька екранів

In [302]:
print('''
Один великий рядок
який може розтягнутись на декілька екранів
''')

Один великий рядок
який може розтягнутись на декілька екранів

In [303]:
print(''Apple' is doomed')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1070294183.py, line 1)

In [304]:
print('"Apple" is doomed')

"Apple" is doomed

In [305]:
print("\"Apple\" is doomed")

"Apple" is doomed

[More about slash](https://www.pythontutorial.net/python-basics/python-backslash/)

In [306]:
print('Hellostudentsi`m a new string')
print('Hello\tstudents\ni`m a new string \\')

Hellostudentsi`m a new string
Hello	students
i`m a new string \

In [315]:
print('a\tc')
print('a\nb')
print('a\\b')

a	c
a
b
a\b

In [316]:
print(r'Hello\tstudents\ni`m a new string \\')

Hello\tstudents\ni`m a new string \\

a c

In [319]:
# \n - перехід на новий рядок 
# \t - 4 пробіли 
# \\ - показати один \
# r - вказуємо що буде ігнорувати всі спец символи

## Practice chapter 2
1. Print the text in which there will be a quote with double quotes.
2. Print the text in which there will be an apostrophe.
3. Print a line that will be displayed on several lines
4. Print text that doesn`t fit in one line but will be displayed in one line

In [320]:
print("Hello, " + "world" + '123') # Операція + над строками називається конкатенації
type("Hello, " + "world")

Hello, world123

str

In [323]:
'123' == "123"

True

In [324]:
print('Value is ' + str(100))

Value is 100

In [325]:
print(str(2) + str(2), 2 + 2 , sep = '\n')

22
4

In [326]:
print("Львів " in "Київ, Львів, Харків, Одеса")
print("Львів," in "Київ, Львів, Харків, Одеса")

False
True

In [329]:
print("Київ" not in "Київ, Львів, Харків, Одеса")

False

In [330]:
print('київ' == 'Київ', 'київ' != 'Київ')

False True

In [333]:
print('Kyiv' > 'Kiev')

True

In [336]:
print('абв' > 'abc')

True

In [341]:
print(ord('а'), ord('a'), 'а' > 'a')

1072 97 True 1072 1103

In [344]:
print('ab' > 'abc')

False

In [347]:
val1, val2 = 'abc', '😂'

In [348]:
def convert(value: str) -> int:
    return sum(ord(i) for i in value)

In [351]:
print(convert(val1), convert(val2), val2 == val1)

294 128514 False

In [151]:
val1 == val2, val1 <= val2

(False, True)

1072 97 1073

In [354]:
print('abc' * 10, 2 * 2)

abcabcabcabcabcabcabcabcabcabc 4

In [355]:
print('a' * 'b')

TypeError: can't multiply sequence by non-int of type 'str'

In [154]:
# Функція len(один_аргумент) -> Повертає довжину, кількість символів

In [356]:
a = 'Sasha'
b = 'Anhelina'

In [360]:
print(len(a) == len(b), len(a), len(b))

False 5 8

In [363]:
len('')

0

In [ ]:
# in, not in

### String and string slice  
1. [Slice](https://www.digitalocean.com/community/tutorials/python-slice-string)

In [364]:
string = 'Name' # 0 - N, 1 - a, m - 2, e - 3, де число це індекс

In [369]:
string[0] #  використання одного числа в квадратних дужках повертає один символ із рядках

'N'

In [370]:
string[2]

'm'

In [171]:
string[-1] # Підтримуються як +/- індекси, буде повертати від кінця підстроку(індекси будуть с 0)

'e'

In [371]:
string[-2]

'm'

In [372]:
yes = 'yes'
print(yes)

yes

In [374]:
print(yes[0] + yes[1] + yes[-2])

yee

In [ ]:
# Slice [start: stop: step] - для використання slice потрібно вказати дужки

In [376]:
print(string)

Name

In [375]:
print(string[2:]) # Поверне все починаючи з 2 індекса

me

In [179]:
print(string[0:2]) # Поверне від 0 до 2 символа не включно

Na

In [378]:
print(string[:])

Name

In [380]:
print(string[::])

Name

In [385]:
print(string[::-1], string[0::2], string[len(string):2:-2], string[len(string)::-1] ,sep = '\n')

emaN
Nm
e
emaN

#### Task 1. Знайти парні числа

In [193]:
numbers = '123456789'

In [386]:
numbers[1::2]

'2468'

In [392]:
print(numbers[-2::-2][::-1], numbers[-2::-2])

2468 8642

#### Task 2. Отримати строку від користувача. Вивезти в консоль чи є строка паліндромом

In [393]:
text = input('Enter palb: ')
print(text == text[::-1])

Enter palb: AnnA
True

## Practice chapter 3
1. Create a variable with data type string. Count the length of this line.
2. Create another variable with string data type. Output the result of concatenation of these two variables.
3. Print the two previous variables, but with a space between them.
4. Get a string from user input. Check if the string is a palindrome.
5. Replace age in the following string with your age. `"I'm 10 years old" -> "I'm 30 years old"`. Do it with  a) indexing and b) replace function.

### Format  - 3 main style
1. Format
2. f-strings

In [394]:
name = 'Name'
surname = 'Surname'
age = '18'

In [395]:
print(name + ' ' +  surname + '\nAge ' + age)

Name Surname
Age 18

In [398]:
print('Hello {0} {1} \
      \nAge: {2}'  # В {вказуємо порядок/імя змінної} 
      .format(name, surname, age) # Функція форматування, передаємо змінні
     )

Hello Name Surname
Age: 18

In [399]:
print('Hello {name} {surname} \nAge: {age}'.format(name = name, surname = surname, age = age))

Hello Name Surname
Age: 18

In [407]:
print(f'Hello {name=} {surname=} \nAge: {age}') # Або f-строки

Hello name='Name' surname='Surname'
Age: 18

In [408]:
current_age = 15
birthday_str = "I'm {0} years old"
print(birthday_str.format(current_age))

I'm 15 years old

In [411]:
current_age = 15
name = 'Name'
birthday_str = "I'm {1} years old \nMy name: {0}"
print(birthday_str.format(current_age, name))

I'm Name years old
My name: 15

In [413]:
current_age = 15
name = 'Name'
birthday_str = f"I'm {current_age} years old \nMy name: {name}"
print(birthday_str)

I'm 15 years old
My name: Name

#### Функція lower - upper: повертає у верхньому - нижньому рядку
[All methods](https://www.w3schools.com/python/python_ref_string.asp)

In [414]:
print(name.lower(), name.upper())

name NAME

## Practice chapter 4

1. The program receive user's name and age from input. Then you need to display the name and age in one line in several ways:

     a) by listing all the parameters in the print function

     b) by formatting a string using the format function

     c) by formatting a string with f-string

     String should looks like this: `"Your name is {name} and your {age} years old"`

In [415]:
print(birthday_str)

I'm 15 years old
My name: Name

In [424]:
print(
    birthday_str.split(' ') # Split - по роздільнику  
     )

["I'm", '15', 'years', 'old', '\nMy', 'name:', 'Name']

In [436]:
print(
    '🇬🇧'.join(birthday_str.split(' '))
)

I'm🇬🇧15🇬🇧years🇬🇧old🇬🇧
My🇬🇧name:🇬🇧Name

In [447]:
name = input('Enter you flag: ')

Enter you flag: 🇬🇧

In [456]:
res = {
    0: '🇬🇧',
    '🦥':1,
    '🦩':2,
}
print(res[0] == name, res[0])

True 🇬🇧

In [494]:
strin = 'string'
print(strin.upper())

STRING

In [474]:
# Добавити в домашку 
flag = '🇬🇧'

print(len(flag))

arr = [ord(i) for i in flag] if len(flag) > 1 else flag

4
[127468, 127463, 127468, 127463]

In [460]:
dir(str) # display all methids

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Practice chapter 5
There are the following lines of code:
```
string_1 = "Animals  "
string_2 = "  Badger"
string_3 = "honey bee"
string_4 = "   HoneyPot   "
```
Print each of these lines with the following conditions
1. All letters must be written in lowercase.

2. All letters must be capitalized.

3. Remove all spaces:

   a) from the beginning of the line

   b) from the end of the line

   c) on both sides of the line

4. Check the value of the startwith ('be') function for each line:
```
string_1 = "Bear"
string_2 = "bear"
string_3 = "BEAR"
string_4 = "bEar"
```
Convert all rows with methods so that when using startwith ('be') it returns True.

5. Find and replace all letters 's' with the letter 'x' in the following line: 
```
Somebody said something to Samantha.
```
6. Write a program that receives a phrase and letter from the user and returns "Yes!" if you find this letter in a line.
7. Clean the following line with string methods:: 
```
'12345!,_6--'
```
and output only the numbers.

8. At the input we get two numbers - the numerator and denominator of the fraction. Display the number as a percentage in the console. If the user entered 5 and 10, then you need to display: '50% '.
9. Find a secret message in the following text: `'X!xeXnxiXlX XtxeXrxcXeXsX Xax XsX`XtXIX'`