### Lesson 4. Control flow and loops. 
>**Topics**:
        > 1. Logical operators
        > 2. If/elif/else
        > 3. Match-case *More that python version 10.
        > 4. Loops(while/for)
        > 5. Operation of break
        > 6. Range 

> **Materials**:
       > 1. [Case statement](https://learnpython.com/blog/python-match-case-statement/) 
       > 2. [Conditions basic](https://www.w3schools.com/python/python_conditions.asp)
       > 3. [While loop](https://www.w3schools.com/python/python_while_loops.asp)
       > 4. [For loops](https://www.w3schools.com/python/python_for_loops.asp)
       > 5. [Match case](https://towardsdatascience.com/the-match-case-in-python-3-10-is-not-that-simple-f65b350bb025)
       > 6. [Conditional tutorial](https://realpython.com/python-conditional-statements/)
       > 7. [If/else](https://python-course.eu/python-tutorial/conditional-statements.php)

**Task** - вирішуємо на лекції \
**Practice section** - в вирішуємо самостійно, якщо встигаємо робимо завдання на лекції

In [1]:
import sys # Розширення функціонала, додавання можливості працювати зі системою 
import random # Добавляємо можливість генерувати random значення

In [44]:
# З бібліотеки sys вибираємо функцію version, яка повертає версію python
print(f"Version of you system: {sys.version.split(' ')[0]}")

Version of you system: 3.10.8

### Logical operators 
1. [All basic operators in python ](https://www.w3schools.com/python/python_operators.asp)

![Logical operators](https://www.askpython.com/wp-content/uploads/2019/12/python-logical-operators.png)

**And** - if left and right operand true or right conditional (логічне так/да)

**OR** - зліва True або з права True (логічне або)

**NOT** - логічне ні

### AND (i) - бінарний оператор

| First  | Second | Result |
| - | - | - |
| 0 | 0 | 0 |
| 0 | 1 | 0 |
| 1 | 0 | 0 |
| 1 | 1 | 1 |

In [26]:
print(f"0 - {bool(0)}, 1 - {bool(1)}, строка - {bool('a')}, пуста строка - {bool('')}")

0 - False, 1 - True, строка - True, пуста строка - False

In [19]:
bool('') # Перетворення в bool

False

In [20]:
bool('abc' and ''), bool('abc' and 'abc')

(False, True)

In [40]:
10 > 5, 6 == 7

(True, False)

In [ ]:
print(12 < 13 and 3 ** '6')

### OR (або) - бінарний оператор

| First  | Second | Result |
| - | - | - |
| 0 | 0 | 0 |
| 0 | 1 | 1 |
| 1 | 0 | 1 |
| 1 | 1 | 1 |

In [27]:
salary = 10_000
print(salary <= 7000 or salary == 10_000)

True

In [32]:
3 ** '6'

In [33]:
12 < 13 or 3 ** '6' # Повертає True, оскільки перший вираз правильний, інші виконувати не потрібно

### NOT (заперечення) - унарний оператор

| Input  | Result |
| - | - |
| 0 | 1 |
| 1 | 0 |

In [34]:
print('not True: ', not True)
print('not False: ', not False)
print('not True == False: ', not True == False)

not True:  False
not False:  True
not True == False:  True

In [35]:
print(not True == False)

True

In [3]:
print('False == not True', 
      False
      == # Має пріоритетність  
      (not True) # Вказуємо в дужках 
     )

False == not True True

#### Operator order of precedence (from highest to lowest):

> 1. <, <=, ==, >=, >
> 2. not
> 3. and
> 4. or

In [5]:
True and not (3 != 3.0) # Що виведе даний код? Опишіть по крокам що виконується в якій послідовності.

True

In [9]:
("C" != "C") or (not (23 >= 34))

#### IF/ELIF/ELSE - control flow statement(інструмент для створення розгалуження, або оператор ветвленія)
**if** # ключове слово після якого повинна бути умова, яка повертає True або False

**elif** # якщо  if не виконався код переходить на наступну умову і її перевіряє 

**else** # якщо ні одна умова не виконалась то переходить в цей блок

In [ ]:
# if/elif/else - ключові слова

In [10]:
numbers = 18

Its a secret line!

In [12]:
if numbers <= 17:
    print('You need time')

if numbers >= 18:
    print('You can go bar')
    
print('Hello ')

You can go bar
Hello

In [35]:
user_number = int(input('Enter you number: '))
computer_number = random.randint(0, 1000)
upper_range = 100
lower_range = 0

In [ ]:
if user_number < upper_range and user_number > lower_range:
    print('You win')

In [13]:
car_number = 'АХ6858ЕХ'
if car_number.startswith('АH'):
    print('You are from Donetsk region')
elif car_number.startswith('BC'):
    print('You are from Lviv region')
elif car_number.startswith('BH'):
    print('You are from Odesa region')
else:
    print('Looks like you are from somewhere else')
print('Finish')

Looks like you are from somewhere else
Finish

In [21]:
numbers = -100

In [23]:
if numbers >= 18: # Перевірка умови, якщо True то переходить в блок коду, інші пропускає
    print('You can go bar')
elif numbers <= 0:
    print('You are not yet born')
    if numbers == -100:
        print('Wrong value')
    elif numbers == -50:
        print(abs(numbers))
        
elif numbers >= 100:
    print('Wrong age')
elif numbers >= 0 and numbers <= 18:
    print(f'Wait to go bar {18 - numbers} year')
else:
    print('Try again')

You are not yet born
Wrong value

5

In [30]:
### Ternar operator - work with 3 operands
age =  45
number = 15
vote = True if age >= 18 else \
    True if number == 15 else 'Test' # Спочатку що повинно повернути, if умова else все що в іншому випадку 
print(vote)

True

In [31]:
# Або 
vote = True
if age >= 18:
    vote = True
else:
    vote = False
print(vote)

True

In [32]:
vote = True if age >= 18 else False

In [35]:
vote = (
    True 
    if age >= 18 
    else False
)# Вказуємо в дужках, щоб Python розумім що це одна команда 
print(vote)

True

**Practice section 1**

Figure out the result of the following expressions:
> a) (1 <= 1) and (1 != 1)     
> b) not (1 != 2)   
> c) ("good" != "bad") or False    
> d) ("good" != "Good") and not (1 == 1)
     
    
Make all of them True by adding parentheses:
> a) False == not True 

> b) True and False == True and False

> c) not True and "A" == "B"

### Match/case - співставлення з шаблоном/паттерном
**match** # Ключове слово, після нього пише змінну по якій буде шукати патерн 

**case** # Ключове слово для створення розгалуження, після цього слова вписуємо патерн з яким буде порівняння

**case _** # Вказати всі інші випадки

In [42]:
name_of_user = input('Enter you name: ')

Enter you name: Sasha

In [37]:
age_of_user = input('Enter you age: ')

Enter you age: 18

In [51]:
des = input('Enter des: ') 
print(des)

Enter des: 124
124

In [54]:
match des: # Вказуємо для якої змінної буде шукати шаблог
    case 'print': # Шаблон print
        print(f'Hello {name_of_user} \nYou {age_of_user} years old')
    case 'play':
        print('Play music')
    case _ : # Шаблон якщо попередні шаблони не виконались
        print('I don\'t know what you want')

I don't know what you want

Egood

In [67]:
# Task 1. Even or odd. Прийняти від користувача число, вивезти чи even/odd
# Task 2. When provided with a number between 0-9, return it in words. Input :: 1 Output :: "One".
# Task 3. Прийняти від користувача два числа і отримати дію над цими числами. Реалізувати +,-, /, *, /, ** 
Explain:
   user_input = 6
   user_second_input = 10
   des = '+'
Result:
    print(user_input + user_second_input = 16(result))
# Task 4. Прийняти від користувача name, surname. Вивезти ініціали. 
Explain:
    name = 'Name'
    surname = 'Surname'
Result:
    print(Name: Name, Surname: Surname, Init: N.S)

SyntaxError: invalid syntax (2485601225.py, line 4)

In [15]:
num1, num2, des = int(input("Введіть число: ")), int(input("Введіть число: ")), input("Введіть дію: ")

match des:
    case '+':
        print(f'{num1} + {num2} = {num1 + num2}')
    case '-':
        print(f'{num1} - {num2} = {num1 - num2}')
    case '*':
        print(f'{num1} * {num2} = {num1 * num2}')
    case '/':
        print(f'{num1} / {num2} = {num1 / num2}')
    case '//':
        print(f'{num1} // {num2} = {num1 // num2}')
    case '**':
        print(f'{num1} ** {num2} = {num1 ** num2}')
    case _ :
        print('Try again!')

Введіть число: 12
Введіть число: 15
Введіть дію: ))
Try again!

In [3]:
n1 = isinstance(int(input('n1')), int)
n2 = isinstance(int(input('n2')), int)                 
des = input('operation')

if type(n1) == int and type(n2) == int:
    match des:
        case '+': print(n1 + n2)
        case '-': print(n1 - n2)
        case '/': print(n1/n2)
        case '*': print(n1*n2)
        case '**':print(n1**n2)
        case _: print('bad input')

n112
n212
operation+

### Practice section 2

1. Write a Python program that reads two integers representing a month and prints the season for that month. Get month from the user input.

    Expected Output:

    **Input the month:** october                     
                                                     
    Season is autumn


2. Write a Python program to get next day of a given date. Get day, month and year from the user input.
Expected Output:

    **Input a year:** 2022                                                     
    **Input a month [1-12]:** 8                                               
    **Input a day [1-31]:** 23                                           
    The next date is [yyyy-mm-dd] 2022-8-24

3. Get a phrase from user input. Display whether the lenght of the string if longer than 5 characters, equal to 5 characters or shorter than 5 characters. Use if, elif, else for this.

4. Get a positive number from user input. Find all factors of this number.
    
    Example:
    - If the number is 6, the factors are: 1, 2, 3, 6
    - If the number is 10, the factors are: 1, 2, 5, 10

5. Write a Python program to check a triangle is equilateral, isosceles or scalene. Get all three sides from user input.

    Note :
    1. An equilateral triangle is a triangle in which all three sides are equal.
    2. A scalene triangle is a triangle that has three unequal sides.
    3. An isosceles triangle is a triangle with (at least) two equal sides.

### Loops - while, for
Якщо потрібно виконувати декілько разів код, по потрібні цикли. 
Існує два типи: while - де потрібно умова для виконання, та for - для проходження ітеративно(крок за кроком)

##### Загальна конструкція:
    Ключове слово - умова по якій повино виконуватись 
    while True:
       # Тіло циклу, якщо в нас нескінченний цикл потрібен завжди оператор перериванія

In [ ]:
while True:
    print('Inf loop')

In [16]:
iteration = 1
while iteration <= 5: # умова припинення виконання
    print(iteration)
    iteration += 1 # змінуємо нашу змінну щоб цикл могли вийти із циклу
    
print('End')

1
2
3
4
5
End

In [18]:
iteration = 1
while iteration <= 5: # умова припинення виконання
    iteration += 1 # змінуємо нашу змінну щоб цикл могли вийти із циклу
    if iteration == 3 or iteration == 5:
        print(f'iteration is {iteration}')
    else:
        print(iteration)
else: # Опціонально, майже не використовується 
    print('End')

2
iteration is 3
4
iteration is 5
6
End

In [20]:
num = float(input("Enter a positive number: "))
while num <= 0:
    print("That's not a positive number!")
    num = float(input("Enter a positive number: "))

print("Good job!")

Enter a positive number: -5
That's not a positive number!
Enter a positive number: -10
That's not a positive number!
Enter a positive number: 10
Good job!

In [24]:
word = "Projector"
index = 0
while index < len(word): # Умова для проходження по ітер  типу даних
    print(f'Current letter: {word[index]}') # Звертаємось до символу під індексом
    index += 1

Current letter: P
Current letter: r
Current letter: o
Current letter: j
Current letter: e
Current letter: c
Current letter: t
Current letter: o
Current letter: r

### for - loops
Використовуємо для проходження по масиву/строкам  etc.

Конструкція:
    # ключове слово для циклу,
    
    for назва змінної in по чому будемо проходити:
        тіло циклу

In [15]:
name = 'Some name'
for i in name:
    print(i)

S
o
m
e

n
a
m
e

In [25]:
for i in 18:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
a = 18
index = 0
while index < len(a): # Помилка число не має фукнції len
    print(a[index]) # не має індексів
    index += 1

### Range function - [start, stop, step]
Дозволяє створювати послідовність

In [26]:
test_range = range(10) # Якщо один параметр - то повино бути значення до куди(stop)
for i in test_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
test_range = range(0, 10) # Якщо два параметри - то повино бути значення start, stop, де start < stop
for i in test_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in  range(0, 10, 2): # якщо три параметри то повинно бути start, stop, step
    print(i)

0
2
4
6
8

In [34]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [62]:
for i in range(3.14): # Numpy якщо потрібна послідовність не цілих чисел
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [66]:
number = input('Input number: ')
iter = input('Input number of iteration: ')
if number.isdigit() and iter.isdigit():
    num = int(number)
    iter = int(iter)
    for i in range(iter):
        num *= 2
        print(num)
else: 
    print('Wrong input')

Input number: -5
Input number of iteration: 5
Wrong input

In [53]:
number = input('Enter number')
if number.isdigit():
    print('Number')
    num = int(number)
else:
    print('Wrong')

Enter number12
Number

### Practice section 3:

1. Write a for loop that prints out the integers from 2 to 10, each on a new line, by using the range() function.

2. Use a while loop that prints out the integers from 2 to 10

3. Write a program that takes number as its input and doubles that number few times in a loop. Number of iterations and initial number should be taken from user input. You should display each result on a separate line. Here is some sample output:
    ```
    Input:
    initial number: 2
    number of iterations: 5

    Output:
    4
    8
    16
    32
    64
    ```
4. Write a program that caluculate Fibonacci series. The Fibonacci series is a series of numbers in which each number is the sum of the two preceding numbers. The first two numbers are 1 and 1. The third number is 1 + 1 = 2, the fourth number is 1 + 2 = 3, and so on. Number of iterations should be taken from user input.
5. Write a program that takes a number as input and revert it using math operators. You might use result of the exercise from the first lesson. Here you should be able to do it not only for three-digit numbers, but for any numbers.

### Оператори переривання break/continue 
break - вийти з циклу та перейти до наступного блоку

continue - пропустити ітерацію

In [35]:
string = 'Stop iteration when find % more text we can\'t see'
print(string)

Stop iteration when find % more text we can't see

In [36]:
for i in string:
    if i == '%':
        print('%' * 45)
        break # stop loop and go next 
    print(i)
    
print('End loop and go next stage')

a = 15
print(f'After loop create a {a}')

S
t
o
p

i
t
e
r
a
t
i
o
n

w
h
e
n

f
i
n
d

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%

m
o
r
e

t
e
x
t

w
e

c
a
n
'
t

s
e
e
End loop and go next stage
After loop create a 15

In [86]:
for i in string:
    if i == '%':
        print('%' * 45)
        break # stop loop and go next 
    print(i)

print('End loop and go next stage')

a = 15
print(f'After loop create a {a}')

S
t
o
p

i
t
e
r
a
t
i
o
n

w
h
e
n

f
i
n
d

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
End loop and go next stage
After loop create a 15

In [43]:
for i in range(0, 17):
    if i % 5 == 0:
        continue # Пропускає дану умову і повертається на початок 
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16

In [44]:
for i in range(5):
    print(i)
else: 
    print('The for loop is over')

0
1
2
3
4
The for loop is over

### Practice section 4

1. Write a program that always asks user to input somethings. Quit only if user inputs 'q' or 'Q'.
2. Write a program that iterated from 0 to 100 and prints out the number if it is divisible by 3.
3. Get a number from user input and iterate from 0 to that number. 
    
    1. Print 'foo' if the number is divisible by 3. 
    2. Print 'bar' if the number is divisible by 5. 
    3. Print 'foobar' if the number is divisible by both 3 and 5.