#### Lesson 8. Collection: dictionary/(set/frozenset)/collection library. 26.11
**Topics**:
> 1. Set/Frozenset - operation with set
> 2. Dictionary - operation with dict
> 3. Test/Practise 
> 4. Collection
> 5. *Args  **Kwargs

**Materials**:
> 1. [About set](https://www.w3schools.com/python/python_sets.asp)
> 2. [Frozenset](https://www.programiz.com/python-programming/methods/built-in/frozenset)
> 3. [Set](https://www.learnbyexample.org/python-set/)
> 4. [Dictionary](https://realpython.com/python-dicts/)
> 5. [Hash table](https://realpython.com/python-hash-table/)

Task 1. 
Given two non-negative integers low and high. Return the count of odd numbers between low and high (inclusive). 

Example 1:

Input: low = 3, high = 7
Output: 3
Explanation: The odd numbers between 3 and 7 are [3,5,7].
Example 2:

Input: low = 8, high = 10
Output: 1
Explanation: The odd numbers between 8 and 10 are [9].

In [119]:
set_1 = {1,2,3,4}
set_2 = {5, 6, 7,8, 1, 2}
#set_3 = {9, 10, 1 ,2}

Task 2.
You are given an array of unique integers salary where salary[i] is the salary of the ith employee.

Return the average salary of employees excluding the minimum and maximum salary. 
 
Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000) / 2 = 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000) / 1 = 2000

In [97]:
def average(salary: list[int]) -> float:
        salary = sorted(salary)
        return sum(salary[1:len(salary) - 1:]) /  (len(salary) - 2)

###  Practice 1:

1. Create emtpy dictionary named en_ua_dictionary.
2. Add few key-value pairs to the dictionary. Example: 'red': 'червоний'
3. Check if the dictionary contains key 'blue' and 'purple'. If not, set their values to unknown.
4. Create a loop over existing values and print them to the console in the following format:
    ```
    Red in Ukrainian is червоний
    ```
5. Delete all key-values pairs from the dictionary if the lenght of value is lower than 5.

6. Write a game where user should guess of a capital of the country that you have in your dictionary.

    capitals = {
        'Ukraine': 'Kyiv',
        'France': 'Paris',
        'Germany': 'Berlin',
        'Italy': 'Rome',
        'USA': 'Washington',
        'Canada': 'Ottawa',
        'Switzerland': 'Bern',
        'Austria': 'Vienna',
        'Belgium': 'Brussels',
        'Sweden': 'Stockholm',
        'Norway': 'Oslo',
        'Denmark': 'Copenhagen',
        'Finland': 'Helsinki',
        'Poland': 'Warsaw',
        'Romania': 'Bucharest',
        'Bulgaria': 'Sofia',
        'Greece': 'Athens',
        ...
    }

    You should show user a random country from the list and ask him to guess the capital. If user input right capital, print "You are right!", add him a point and ask him to guess another country. If not, you should ask again. User should be able to quit the game by typing "exit".
    You should print current score after each round. Also, you should print the final score before user quit the game.


    Optional: 
    1. Give user a hint if he guesses wrong. Hint should looks like first letter of the capital. If you user make another mistake, you should print one more letter from the capital.

    2. If user make a mistake you should decrement his lives. Initial amount of lives is 3. Game will end when user has no lives left. You should print the final score after user has no lives left.

**Optional**

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

    Symbol       Value
    I             1
    V             5
    X             10
    L             50
    C             100
    D             500
    M             1000

For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

    * I can be placed before V (5) and X (10) to make 4 and 9. 
    * X can be placed before L (50) and C (100) to make 40 and 90. 
    * can be placed before D (500) and M (1000) to make 400 and 900.

Given a roman numeral, convert it to an integer.

    Example 1:

    Input: s = "III"
    Output: 3
    Explanation: III = 3.

    Example 2:

    Input: s = "LVIII"
    Output: 58
    Explanation: L = 50, V= 5, III = 3.

    Example 3:

    Input: s = "MCMXCIV"
    Output: 1994
    Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.

```python
def roman_to_int(s: str) -> int:
    # write your code here

def test_roman_to_int():
    result1 = roman_to_int("III")
    assert result1 == 3

    result1 = roman_to_int("LVIII")
    assert result1 == 58

    result1 = roman_to_int("MCMXCIV")
    assert result1 == 1994
```

Constraints:

    1 <= s.length <= 15
    s contains only the characters ('I', 'V', 'X', 'L', 'C', 'D', 'M').
    It is guaranteed that s is a valid roman numeral in the range [1, 3999].


**Optional**

Try to create a function that will do reverse operation - from integer to roman

```python
def int_to_roman(s: str) -> int:
    # write your code here

def test_int_to_roman():
    result1 = int_to_roman(3)
    assert result1 == "III"

    result1 = int_to_roman(58)
    assert result1 == "LVIII"

    result1 = int_to_roman(1994)
    assert result1 == "MCMXCIV"
```

**Optional**

Write an algorithm to determine if a number n is happy.

A happy number is a number defined by the following process:

    Starting with any positive integer, replace the number by the sum of the squares of its digits.
    Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1.
    Those numbers for which this process ends in 1 are happy.

Return true if n is a happy number, and false if not.

    Example 1:

    Input: n = 19
    Output: true

    Explanation:
    12 + 92 = 82
    82 + 22 = 68
    62 + 82 = 100
    12 + 02 + 02 = 1

    Example 2:

    Input: n = 2
    Output: false

Constraints:

    1 <= n <= 231 - 1


```python
def is_happy(self, n: int) -> bool:
    # write your code here

def test_is_happy():
    result1 = is_happy(19)
    assert result1 is True

    result1 = is_happy(2)
    assert result1 is False
```
Given a string s, find the length of the longest substring without repeating characters.

    Example 1:

    Input: s = "abcabcbb"
    Output: 3
    Explanation: The answer is "abc", with the length of 3.

    Example 2:

    Input: s = "bbbbb"
    Output: 1
    Explanation: The answer is "b", with the length of 1.

    Example 3:

    Input: s = "pwwkew"
    Output: 3
    Explanation: The answer is "wke", with the length of 3.
    Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.

Constraints:

    0 <= s.length <= 5 * 104
    s consists of English letters, digits, symbols and spaces.

```python
    def length_of_longest_substring(s: str) -> int:
        pass

    def test_length_of_longest_substring():
        result1 = length_of_longest_substring('abcabcabc')
        assert result1 = 3

        result2 = length_of_longest_substring('bbbbb')
        assert result2 = 1

        result3 = length_of_longest_substring("pwwkew")
        assert result3 = 3
```

## Set/frozenset 
**Set** - змінна, неупорядкована колекція унікальних елементів \
**Frozenset** - незмінна, неупорядкована колекція унікальних елементів

In [126]:
set([1,1,1,1]) == {1}

True

In [3]:
emp_set = set() # Створення пусткого set 
print(emp_set, type(emp_set))

set() <class 'set'>

In [127]:
no_emp_set = {1,2,3,4,5,1,2,3}
print(no_emp_set)

{1, 2, 3, 4, 5}

In [128]:
a = [1,2,3,5,1,5,2,4,6]
set_a = set(a)
print(set_a)

{1, 2, 3, 4, 5, 6}

In [129]:
no_emp_set.add(('1', '2')) # Добавити елемент 
print(no_emp_set)

{1, 2, 3, 4, 5, ('1', '2')}

In [17]:
no_emp_set.add(0) 
print(no_emp_set)

{0, 1, 2, 3, 4, 5, ('1', '2'), '1'}

In [130]:
no_emp_set.update(set_a)
print(no_emp_set)

{1, 2, 3, 4, 5, 6, ('1', '2')}

In [131]:
print(no_emp_set[0])

TypeError: 'set' object is not subscriptable

In [133]:
print(1 in no_emp_set, 10 not in no_emp_set)

True True

In [135]:
set_1 = {1,2,3,4,5}

set_2 = {6,7,8,1,2}

frozet_set = frozenset(set_1)

print(f'Set 1: {set_1}\nSet 2: {set_2}')
print(frozet_set, type(frozet_set))

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 6, 7, 8}
frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

In [136]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [137]:
print(f'Operation union: {set_1.union(set_2)}\nUnion with | : {set_1 | set_2}')

Operation union: {1, 2, 3, 4, 5, 6, 7, 8}
Union with | : {1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
print(f'Operation intersection: {set_1.intersection(set_2)}\nIntersection with & : {set_1 & set_2}')

Operation intersection: {1, 2}
Intersection with & : {1, 2}

In [78]:
print(f'Operation difference: {set_1.difference(set_2)}\nUnion with - (minus) : {set_1 - set_2}')

Operation difference: {3, 4, 5}
Union with - (minus) : {3, 4, 5}

In [139]:
print(f'Operation Symmetric difference: {set_1.symmetric_difference(set_2)}\nSymm_diff with ^ {set_1 ^ set_2}')

Operation Symmetric difference: {3, 4, 5, 6, 7, 8}
Symm_diff with ^ {3, 4, 5, 6, 7, 8}

In [140]:
print(f'Operation issubset: {set_1.issubset(set_2)}\nUnion with <= : {set_1 <= set_2}')

Operation issubset: False
Union with <= : False

In [40]:
a = set_1.pop()
print(a)

2

In [41]:
set_1.clear()
print(set_1)
print(bool(set_1))

set()
False

In [43]:
set([1, 1, 1]) == set([1])

True

In [141]:
{1} == {1}

True

In [147]:
set_a = {1, 2, 3}
set_b = {1, 2, 3}

print(set_a)
print(set_b)
# set_a <= set_b 
set_a.issubset(set_b)

{1, 2, 3}
{1, 2, 3}

True

In [146]:
set_b.issuperset(set_a)

True

In [47]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_a.union(set_b).union({5, 6, 7})

{1, 2, 3, 4, 5, 6, 7}

In [101]:
frozen_a = frozenset([1, 2, 3])
#frozen_a.add(10)

Task 3

In an array of integers of length n + 1 (n > 1), every number in the range 1...n appears once except for one number which appears twice (so the array’s length is n+1). Write an efficient function that finds the number that appears twice.

1,2,2,3 => 2 
1,2,3,3 => 3
2,1,4,3,5,4 => 4

In [190]:
def task3(arr: list) -> int:
    res = []
    for i in set(arr):
        if arr.count(i) > 1:
            res.append(i)
    return res

In [191]:
task3([1,2,2,3, 1 ,1, 1,1,1,1, 1,2,2,2,2,2])

[1, 2]

Task 4 
Intersection

Given two arrays of numbers where each one contains unique values and is already sorted in ascending order, find the number of elements that belong to both arrays.

Task 5. **RLE** \
Given a string of letters (without numbers), create a string encoding it by the rules where the first character is char itself, followed by a number indicating the number of letter repeats.

Examples:

ABBA => A1B2A1
ATTTGC => A1T3G1C1

In [ ]:
#### Delete value of set

In [212]:
set_test = {1,2,3,4}
print(set_test, type(set_test))

{1, 2, 3, 4} <class 'set'>

In [211]:
set_test.pop()
print(set_test)

{2, 3, 4}

In [214]:
set_test.remove(3)
print(set_test)

KeyError: 3

In [218]:
set_test.discard(3)
print(set_test)

{1, 2, 4}

#### Dictionary
Maping type: **key - value** \
    **Key** - only hash type(int, float, tutple, frozenset, string, eth.. \
    **Value** - all type

In [220]:
capitals = {
    'France': 'Paris',
    'Ukraine': 'Kyiv',
    'Germany': 'Berlin',
    'try_list': [1,2,3,4],
}
print(capitals)

{'France': 'Paris', 'Ukraine': 'Kyiv', 'Germany': 'Berlin', 'try_list': [1, 2, 3, 4]}

In [222]:
print(capitals['Ukraine'])

Kyiv

In [223]:
capitals['Italy'] = 'Rome'
print(capitals)

{'France': 'Paris', 'Ukraine': 'Kyiv', 'Germany': 'Berlin', 'try_list': [1, 2, 3, 4], 'Italy': 'Rome'}

In [224]:
capitals['Ukraine'] = ('Kyiv1', 'Kiev')

In [228]:
capitals['Ukraine'][0][0]

'K'

In [229]:
for country in capitals:
    print(f'Country: {country} Capital: {capitals[country]}')

Country: France Capital: Paris
Country: Ukraine Capital: ('Kyiv1', 'Kiev')
Country: Germany Capital: Berlin
Country: try_list Capital: [1, 2, 3, 4]
Country: Italy Capital: Rome

In [231]:
print(f'Keys: {capitals.keys()}')
print(f'Keys: {capitals.values()}')
print(f'Items: {capitals.items()}')

Keys: dict_keys(['France', 'Ukraine', 'Germany', 'try_list', 'Italy'])
Keys: dict_values(['Paris', ('Kyiv1', 'Kiev'), 'Berlin', [1, 2, 3, 4], 'Rome'])
Items: dict_items([('France', 'Paris'), ('Ukraine', ('Kyiv1', 'Kiev')), ('Germany', 'Berlin'), ('try_list', [1, 2, 3, 4]), ('Italy', 'Rome')])

In [232]:
for country, capital in capitals.items():
    print(f"The capital of {country} is {capital}")

The capital of France is Paris
The capital of Ukraine is ('Kyiv1', 'Kiev')
The capital of Germany is Berlin
The capital of try_list is [1, 2, 3, 4]
The capital of Italy is Rome

In [235]:
capitals['1']

KeyError: '1'

In [237]:
capitals.get('1')

In [236]:
capitals

{'France': 'Paris',
 'Ukraine': ('Kyiv1', 'Kiev'),
 'Germany': 'Berlin',
 'try_list': [1, 2, 3, 4],
 'Italy': 'Rome'}

In [103]:
#### Args/Kwargs